<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{ site.user_description }} </p>
  <center><a class="publications-link" href="{{ " /assets/cv/zahi_cv.pdf " | prepend: site.baseurl }}">Check out my CV</a></center>
</div>
  <div class="user">
    <div class="tech">
      <h2>Robotics</h2>
      <i class="devicon-linux-plain colored"></i>
      <img alt="ROS" src="{{ " /assets/img/ros.png " | prepend: site.baseurl }}" width=70px height=70px />
      <p> {{ site.robotics_description }} </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p> {{ site.code_description }} </p>
    </div>
    <div class="tech">
      <h2>AI/ML</h2>
      <i class="devicon-docker-plain colored"></i>
      <img alt="TensorFlow" src="{{ " /assets/img/tensorflow_logo.png " | prepend: site.baseurl }}" width=70px height=70px />
      <p> {{ site.machine_learning_description }} </p>
    </div>
</div>
