<div class="user-details">
  <h1> Latest Blog Posts </h1>
</div>
<div class="user-blogs">
  <div class="images-right">
    <img alt="ros-spacemacs" src="{{ " /assets/img/ros-spacemacs.jpg " | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ROS + Spacemacs </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="{{ site.baseurl }}/2018/03/24/ros-spacemacs">Check it out</a>
  </div>
</div>
<div class="user-blogs">
  <div class="images-left">
    <img alt="mountains" src="{{ " /assets/img/skate.jpg " | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> List of Older Blog Posts </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="{{ site.baseurl }}blog-post-list">Check it out</a>
  </div>
</div>
