<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Pheeno Robot" src="{{ "/assets/img/pheeno.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Pheeno </h3>
    <p>A low-cost, ROS compatible robot for swarm robotics applications.</p>
    <a class="project-link" href="https://github.com/acslaboratory">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ACS Lab logo" src="{{ "/assets/img/ACS-Logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Pheeno Documentation </h3>
    <p>Contains guides and tutorials for building and programming Pheeno. This documentation serves as a good starting point for anyone interested in using ROS for the frist time or for multi-agent systems.</p>
    <a class="project-link" href="https://acslaboratory.github.io">Check it out</a>
  </div>
</div>
